<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh-Hans">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>华政刑司家园</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <style>
    article > div.details {
      display: block;
      font-size: 1.15em;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    section {
      position: relative;
    }

    section > div.details > div.summary {
      display: block;
      font-size: 1.015em;
      font-weight: bold;
      margin: 6px 0px;
    }
  </style>
</head>
<body>
<div class="container">
  <article id="content" th:object="${content}" class="row">
    <input name="id" type="hidden" th:value="*{id}"/>

    <div class="details col-xs-12">
      <a th:text="*{title + '(参与人数：' + count + ')'}"></a>
    </div>
  </article>
  <section th:each="candidate : ${content.candidates}" class="row">
    <div open="true" th:object="${candidate}" class="details col-xs-12">
      <div class="summary">
        <a th:text="*{caption + '(票数：' + count + ')'}"></a>
      </div>

      <p th:text="${votersMap.get(candidate.caption)}"></p>
    </div>
  </section>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
</html>