@charset "UTF-8";

a:hover {
  text-decoration: none;
}

/* <details> open with animation */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] {
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
}

/* replace <details> marker */
summary::-webkit-details-marker {
  display: none;
}

section summary:before {
  content: "\22EF";
  color: #696f7c;
  margin-left: 55px;
  margin-right: 5px;
}

section details[open] > summary:before {
  content: "\22EE";
  margin-right: 10px;
}

/* font style of article and section */
details > pre {
  font-size: 16px;
  margin-top: 12px;
}

article > details > summary {
  display: block;
  font-size: 21px;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  outline: none;
}

section {
  position: relative;
  margin-top: 15px;
}

section > details > summary {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0px;
  outline: none;
}

section > input[type="checkbox"] {
  position: absolute;
  top: -3px;
  left: 14px;
  z-index: 10;
}

/* customized checkbox style */

input[type="checkbox"]:before {
  content: "\2715";
  color: #696f7c;
}

input[type="checkbox"] {
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #f5f5f5;
  box-sizing: border-box;
  width: 45px;
  height: 32px;
  border-width: 0;
  transition: all .3s linear;
  border-radius: 2px;
  font-size: 26px;
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  color: #4290FB;
}

input[type="checkbox"]:checked {
  /*background-color: #696f7c;*/
  box-sizing: content-box;
}

input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}

/* image style */

img {
  border-radius: 4px;
}